#search {
    display: flex;
    justify-content: space-between;
}

.App {
    margin: 20px 10vw 0 20vw;
}

body {
    background-color: aqua;
}

#itemList:hover {
    background-color: lightseagreen;
}